.container {
  display: flex;
  flex-direction: column;
}
.inner-container {
  height: 60px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20pt;
  font-weight: bolder;
  background-color: #66101F;
  border-bottom: 3px solid #855A5C;
  box-shadow:0 0 8px #30292F;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}
.tile {
  border: 3px solid #855A5C;
  height: 150px;
  width: 150px;
  margin: 12pt;
  float: left;
  box-shadow:0 0 8px #30292F;
}

.tile:hover{
  cursor: pointer;
  transform: scale(1.1)
}

.game-board {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

img {
  height: 150px;
  width: 150px;
}

body {
  background-image: url("./photos/wallpaper.jpg");
  background-size: 120%;
}